$--color-primary: #00C8B0;
$--color-green: #81E439;
$--color-yellow: #EDB445;
$--color-orange: #F87D22;
$--color-red: #FF0000;
$--color-red-regular: #DD3822;
$--color-red-secondary: #E23D3D;

$--color-blue-regular: #34A853;


$--color-text-primary: #333333FF;
$--color-text-regular: #666;
$--color-text-secondary: #999;
$--color-text-placeholder: #C0C4CC;
$--color-text-defalt: #333333FF;


// Background
$--background-color-base: #F5F5F5;

$--background-head-gradient: linear-gradient(45deg, #00D1CB 0%, #00A0E3 100%);